<section class="judul">
  <%= render 'partial/judul' %>
</section>
<section class="gambar_depan">
  <%= render 'partial/gambar_depan' %>
</section>
<section class="bentuk usaha">
  <%= render 'partial/bentuk_usaha' %>
</section>
<section class="motto">
  <%= render 'partial/motto' %>
</section>

<section class="paket">
  <%= render 'partial/paket' %>
</section>
<section class="promo">
  <%= render 'partial/promo' %>
</section>
<section class="testimoni">
  <%= render 'partial/testimoni' %>
</section>
<section class="hubungi_kami">
</section>
<section class="footer">
  <%= render 'partial/footer' %>
</section>
