<!DOCTYPE html>
<html>
<head>
  <title>RPA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="geo.region" content="ID-SN">
  <meta name="geo.placename" content="Makassar">
  <meta name="google-site-verification" content="yUnOEuMhCzSMUDtQ6pmDP1VXmd_wyn_P9FvNVhcq7RI" />
  <meta name="description" content="rumah pengantin anisah makassar">
  <meta name="author" content="nunung sastrafiana">
  <meta name="keywords"
  content="rpa,
           rumah pengantin,
           rumah pengantin anisah,
           rumah pengantin makassar,
           rumah pengantin anisah makassar,
           paket pernikahan,
           paket pernikahan muslim,
           pernikahan muslim,
           walimatul,
           walimatul urs,
           walimatul organizer,
           undangan pernikahan,
           souvenir pernikahan,
           gaun pernikahan,
            gaun pernikahan muslim,
           riasan pernikahan,
           riasan pernikahan muslim,
           tirai hijab muslim,
           foto pernikahan,
           catering pernikahan,
           panitia pelaksana pernikahan,
           pengisi acara pernikahan,
           paket acara rumah,
           paket acara gedung,
           dekorasi kamar pengantin  ">
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'partial/navigation' %>
  <section class="notifier">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <% if flash[:notice] %>
          <div class= "alert alert-success">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% if flash[:alert] %>
          <div class= "alert alert-success">
            <%= flash[:alert] %>
          </div>
        <% end %>

    </div>
  </section>
  <%= yield %>



</body>
</html>
